# Telegram Bot API
TELEGRAM_BOT_TOKEN=
TELEGRAM_OWNER_ID=

# Telethon (Client API, my.telegram.org)
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELETHON_SESSION_PATH=./finance_bot.session

# Percorsi locali
DB_PATH=./finance_bot.db
LOG_PATH=./finance_bot.log
